name: rope_monitoring_2
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.8.0

dependencies:
  flutter:
    sdk: flutter
  firebase_auth: ^6.0.0
  cloud_firestore: ^6.0.0
  firebase_core: ^4.0.0
  intl: ^0.18.1  # Tambahkan baris ini
  rxdart: ^0.27.7



dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
